@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color:#000;
    --secondary-color:#fff;
    --grey-shade:#ddd;
    --box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --header-color: #1da1f2;
    --links-color:#F9629F;
}
body{
    font-family:"Roboto", sans-serif;
    overflow: auto;
}
a{
    text-decoration: none;
    color: var(--secondary-color);
    cursor: pointer;
    display: inline-block;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}
h2{
    background-color: var(--header-color);
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    color: var(--secondary-color);
}
p{
    line-height: .8;
    font-size: .96rem;
    text-indent: 1.5rem;
    word-spacing: -1px;
}
.navigation-link{
    margin: 1rem auto;
    width: 5%;
    padding: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
}
.navigation-link i{
    font-size: 2rem;
    color: rgb(93, 189, 93);
}
#main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 2rem;
    background-color: var(--header-color);
    position: sticky;
    top: 0;
    z-index: 2;
}
#main-header img{
    max-width: 80px;
    height: 40px;
    margin: 5px auto; 
}
#main-header li{
    display: inline-block;
    margin: .3rem auto;
}
#main-nav{
    margin: 0 auto;
}
#main-nav a{
    padding: 3px;
    margin: 5px;
    font-weight: bold;
    border: 1px rgba(255, 255, 255, 0.2) solid;
    border-radius: 5px;
}
#main-nav a:hover{
    background-color: var(--links-color);
}
#showcase{
    background: url(../img/atheism.jpg);
    height: 40vh;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
.intro{
   padding: .5rem;
   margin: auto 3px;
}
.intro h2{
    margin-top: .5rem;
}
.intro h4{
    color: var(--header-color);
    text-decoration: underline;
    font-size: 1.3rem;
}
.intro p{
    margin-top: .5rem;
    word-wrap: wrap;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.8);
}
.intro a{
    color: var(--links-color);
    font-weight: bold;
}
#topics h4{
    color: var(--header-color);
    margin: .7rem;
    font-size: 1.3rem;
}
#topics a{
    color: var(--primary-color);
    padding: .4rem;
    margin-left: .7rem;
    text-decoration: underline;
}
#topics a:hover{
    color: var(--links-color);
}
#topics .sites a{
    color: var(--links-color)
}
#sidebar{
    color: var(--primary-color);
    margin: 1rem auto;
}
#sidebar h2{
    margin: auto 5px;
}
#sidebar-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--secondary-color);
}
#sidebar .container{
    margin: .3rem;
}
#sidebar .container img{
    max-width: 20%;
    margin: 10px;
}
#sidebar .container a{
    display: inline-block;
    margin:.5rem;
    background-color: rgb(134, 219, 134);
    color: var(--primary-color);
    padding: .2rem;
    border: 1px rgb(102, 168, 8)solid;
}
#sidebar .container h4{
    color: rgba(0, 0, 0, 0.7);
}
footer{
    display: flex;
    flex-direction: column;
    background-color: var(--header-color);
    padding: 1rem;
    margin-top: 1rem
}
footer p{
    margin: 1rem auto;
    color: var(--secondary-color);
}
footer #social{
    margin: .2rem auto;
}
footer #social a{
    margin: 0 1px;
    border: 1px rgba(255, 255, 255, 0.2) solid;
    border-radius: 5px;
    padding: 4px;
    text-transform: capitalize;
}
footer #social a:hover{
    background-color: var(--links-color);
}

/*---BLOG---*/ 
#blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} 
#blogs button{
    padding: .3rem;
    margin: 3px 5px;
    background-color: var(--links-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
}
#blogs button:hover{
    background-color: var(--header-color);
}
.blog-content{
    margin: .5rem 5px;
}
.blog-content h3{
    text-align: center;
    margin: .5rem auto;
    background-color: var(--links-color);
    padding: .3rem;
}
.blog-content a{
    color: red;
    font-weight: bold;
}
.blog-content p,.blog-content li{
    line-height: 1.6;
}
.blog-content li{
    font-weight: bold;
}

/*---Video---*/
#video-wrapper{
    background-color: rgb(247, 242, 242);
}
#main-video{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#main-video video{
    width: 100%;
}
#video-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5rem;
    margin-top: .5rem;
}
#video-container .video-container, #Yt-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-right:1px var(--header-color) solid;
    background-color: rgb(247, 242, 242);
}
#video-container .video-container .video{
    border-radius: 5px;
    margin: .2rem;
    padding: .5rem;
    background-color: var(--secondary-color);
}
#video-container .video-container .video iframe{
    width: 150px;
    height: 100px;
}
#video-container .video-container .video .video-text h3, #Yt-content h4{
    color: rgba(0, 0, 0, 0.7);
    margin: 5px auto;
}
#video-container #Yt-content{
    display: flex;
    flex-direction: column;
    padding: .5rem;
}
#video-container #Yt-content h3{
    margin: 0 auto;
    width: 100%;
    margin: .5rem auto 0 auto;
    background-color: var(--header-color);
    color: var(--secondary-color);
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    
}
#video-container #Yt-content .video{
    background-color: var(--secondary-color);
    padding: .5rem ;
    border-radius: 5px;
    margin-top: .5rem;
}
#video-container #Yt-content iframe{
    width: 150px;
    height: 100px;

}
@media only screen and (min-width: 992px) {

    /*Home*/
    #main-header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 4rem;
    }
    #main-header img{
        max-width: 150px;
        height: 75px;
    }
    #main-nav{
        margin-right: 6rem;
    }
    #main-nav a{
        padding: .5rem;
    }
    #showcase{
        height: 70vh;
        background-size: cover;
    }
    #wrapper{
        display: grid;
        grid-template-columns: 68% 30%;
        justify-content: space-between;
        grid-gap: .5rem;
    }
    .intro{
        height: 100%;
    }
    #sidebar{
        padding: 5px;
        margin-right: 1rem;
    }
    #sidebar h2{
        margin: .5rem auto 0 auto;
        width: 100%;
    }
    #sidebar-container{
        display: grid;
        grid-template-columns: 1fr;
        border: 1px var(--header-color) solid;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    #sidebar .container{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: .3rem 0;
        border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
        box-shadow: none;
    }
    #sidebar .container:nth-child(6){
        border-bottom: none;
    }
    #sidebar .container img{
        max-width: 35%;
        border-radius: 5px;
        margin-left: .5rem;
    }
    #sidebar .container div{
       width: 100%;
    }
    #sidebar .container div h4{
        color: rgba(0, 0, 0, 0.7);
    }
    #sidebar .container div a{
        display: inline-block;
        margin:.5rem;
        color: var(--primary-color);
        padding: .4rem;
        border: 1px var(--header-color) solid;
        border-radius: 5px;
    }
    #sidebar .container a:hover{
        transform: scale(1.1) ;
    }
    #content-wrapper{
        display: grid;
        grid-template-columns: 30% 68%;
        grid-gap: .5rem;
    }
    #cards{
        text-align: center;
        border: 1px var(--header-color) solid;
        border-radius: 10px;
    }
    #card-header{
        text-align: center;
        margin:  0 auto;
        width: 100%;
    }
    #card{
       display: flex;
       flex-direction: column;
       padding: .5rem;
       margin: .5rem;
       box-shadow: none;
       border-bottom: 2px var(--links-color) solid ;
       border-radius: none;
    }
    #card img{
        max-width: 100%;
        height: auto;
        margin: auto;
    }
    #card h3{
        margin: .5rem;
        color: var(--primary-color);
    }
    #card h4{
        margin: 1rem;
        color: rgba(255, 0, 0, .7);
    }
    footer{
        display: flex;
        flex-direction: row;
        padding: .5rem;
        margin-top: none;
    }
    footer #social a{
        padding: .5rem;
    }
    footer #social, footer p{
        margin: 2.5rem auto;

    }

    /*Blog*/
    #blog{
        display: grid;
        grid-template-columns: 15% 70%;
    }
    #blogs{
        display: flex;
        flex-direction: column;
        padding: .5rem;
        margin: .5rem 3px;
        border-right: 1px #000 solid;
    }
    #blogs .tablinks{
        width: 100%;
        margin-top: .2rem;
        padding: .5rem;
        font-weight: bold;
        font-size: 1rem;
        background-color: var(--links-color);
        color: var(--secondary-color);
        border: none;
    }
    #blogs .tablinks:active{
        background-color: var(--header-color);
    }
    #blogs .tablinks:hover{
        background-color: var(--header-color);
        color: #fff;
        border-radius: 5px;
    }
    #blog .blog-content{
       margin-top: 1rem;
       padding: .5rem;
       border-right: 1px #000 solid;
    }
    #blog .blog-content h2{
        margin-bottom: .5rem;
    }
    .blog-content img{
        max-width: 100%;
        max-height: 20rem;
    }
    .image{
        float: left;
        margin-right: 1rem;
    }

    /*---Video---*/
    #video-wrapper{
        background-color: rgb(247, 242, 242);
    }
    #main-video{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #main-video video{
        width: 100%;
    }
    #video-container{
        display: grid;
        grid-template-columns: 80% 20%;
        grid-gap: .5rem;
        margin-top: .5rem;
    }
    #video-container .video-container, #Yt-content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    #video-container .video-container .video{
        border-radius: 5px;
        margin: .3rem;
        padding: .5rem;
        background-color: var(--secondary-color);
    }
    #video-container .video-container .video iframe{
        width: 150px;
        height: 100px;
    }
    #video-container .video-container .video .video-text h3, #Yt-content h4{
        color: rgba(0, 0, 0, 0.7);
        margin: 5px auto;
    }
    #video-container #Yt-content{
        display: flex;
        flex-direction: column;
        padding: .5rem;
        margin-right: .4rem;
    }
    #video-container #Yt-content h3{
        width: 100%;
        margin: .5rem auto 0 auto;
        background-color: var(--header-color);
        color: var(--secondary-color);
        padding: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    #video-container #Yt-content .video{
        background-color: var(--secondary-color);
        padding: .5rem ;
        border-radius: 5px;
        margin-right: .1rem;
    }
    #video-container #Yt-content iframe{
        width: 150px;
        height: 100px;
        margin: .5rem auto;
    }
}
